@import "app";

.button.is-success {
  background-color: $green;
}

.nav.is-dark {
  background-color: #232B2D;
  color: $white-bis;
  .nav-item a, a.nav-item {
    color: $white-bis;
  }
  .nav-item a.button.is-default {
    color: $white-bis;
    background-color: transparent;
    border-width: 2px;
  }
}

.aside {
  background-color: $blue;
  margin-right: -10px;
  .main {
    padding: 25px;
    color: $grey-lighter;
  }
  .title {
    color: $grey-lighter;
    font-size: $size-7;
    font-weight: bold;
    text-transform: uppercase;
  }
  .main {
    .item {
      display: block;
      padding: 10px 0;
      color: $grey-lighter;
      &.active {
        color: $white-bis;
      }
    }
    .icon {
      padding-right: 30px;
    }
    .name {
      font-size: $size-7;
      font-weight: bold;
    }
  }
}

.admin-panel {
  padding-bottom: 0;
}

.content {
  display: block;
  background-color: #fff;
  padding: 40px 20px;
}

.hero .tabs ul {
  border-bottom: 1px solid #d3d6db;
}